body {
    background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80");
    background-size: cover;
    background-position: center;
    height: 97vh;
}

.nav .nav-item .nav-link {
    font-weight: 700;
    color:rgba(255,255,255,0.5);
}

.nav .nav-item .nav-link:hover {
    color:rgba(255,255,255,0.7);
    transform: scale(1.15);
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.nav .nav-item .nav-link.active {
    color:rgba(255,255,255,1);
    transform: scale(1.15);
    text-decoration: underline solid white 4px;
}